/*! normalize.css v3.0.1 | MIT License | git.io/normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.27em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 90%;
    font-weight: 300;
}

body {
    font-family: "Open Sans", Helvetica, Arial, serif;
    margin: 0;
    padding:0;
    font-size:100%;
    line-height: 180%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

#dev-link {
    color: #90b73e;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding: 0;
}

.logo {
    line-height: 1.1em;
    color: #5e99bd;
    margin:0;
    text-align: center;
    margin-top: 45px;
    font-size: 33px;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo span {
    font-weight: 300;
    display: block;
    font-size: .7em;
    color: #123456;
    padding-top: 10px;
}

.section-one, .section-two, .section-three {
    padding-bottom: 40px;
    height: 100%;
}

.section-three, .section-two {
    background-color: #E8E8E8;
}

.biog {
    width: 80%;
    margin: 0 auto;
}

.booking {
    width: 80%;
    margin: 0 auto;
}

p {
    font-size: 19px;
}

.tel {
    padding: 0;
    margin: 0 auto;
    margin-top: 13px;
    text-align: center;
}

.tel li {
    text-decoration: none;
    display: inline;
    list-style-type: none;
    padding-right: 5px;
    padding-left: 5px;
}

.tel ul{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

h3 {
    text-align: center;
    color: #5e99bd;
    font-size: 25px;
    padding: 30px 0 30px 0;
    margin: 0;
}

h2 {
    font-size: 50px;
    text-align: center;
    line-height: 70px;
    color: #ffffff;
}

h4 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    color: #123456;
}

h5 {
    color: #5e99bd;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}

h6 {
    text-align: center;
    font-size: 13px;
    color:#123456;
}

.treat-options {
    width:100%;
}

.treat-options ul {
    text-align: center;
}

.treat-options li {
    background-color: #E8E8E8;
    display: inline-block;
    width: 162px;
    height: 275px;
    margin: 0 auto;
    margin-bottom: 10px;
    vertical-align:top;
    padding-left: 5px;
    padding-right: 5px;
}

.treat-text {
    padding: 0;
    margin: 0;
}

.treat-img {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: 70%;
    text-align: center;
    padding-top: 40px;
}

.footer {
    width: 100%;
    height: 10%;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #E8E8E8;
}

.practice-text {
    max-width: 85%;
    margin: 0 auto;
}

.practice-text li {
    list-style-type: none;
    padding:0;
}

.practice-text ul {
    padding: 0;
}

.logos img {
    width: 125px;
}

.logos {
    text-align: center;
    margin-top: 10px;
}

.practice-address {
    display: block;
    margin: 10px 0;
    float: left;
    width: 100%;
    font-style: normal;
    text-align: center;
}

.address-title {
    font-size: 20px;
    font-weight: 100;
    color: #123456;
    padding-bottom: 15px;
}

.practice-address span {
    display: block;
}

#diff-link {
    color: #5e99bd;
}

.nhs {
    color: #0066cc;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -BREAK POINT 800-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 800px) {

    h2 {
        max-width: 45%;
        margin: 0 auto;
    }

    p {
        font-size: 17px;
    }

    .booking {
        max-width: 65%;
    }

    .biog {
        max-width: 65%;
    }

    .practice-address {
        width: 50%;
    }

}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -BREAK POINT 1000-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media (min-width: 1000px) {

    .practice {
        height: 100%;
        display: block;
        margin:0 auto;
        margin: 40px 0 40px 0;
    }

    #hpc {
        width: 190px;
    }

    .pracrice ul {
        float: left;
        display: inline-block;
    }

}

 

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -BREAK POINT 1400-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



@media (min-width: 1400px) {

    .treat-options ul {
        width: 90%;
        margin: 0 auto;
    }

    .treat-options li {
        display: inline-block;
        width: 315px;
        height: 275px;
        margin: 0 auto;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .treat-img {
        margin: 0 auto;
        padding: 0;
        width: 80%;
        height: 70%;
        text-align: center;
        padding-top: 40px;
    }

    .treat-text {
        margin: 0;
        padding: 0;
    }

    .booking {
        max-width: 45%;
    }

    .biog {
        max-width: 45%;
    }

    .address-title {
        font-size: 20px;
        font-weight: 100;
        color: #123456;
        padding-bottom: 15px;
    }

    .practice-address {
        display: block;
        margin: 10px 0;
        float: left;
        width: 25%;
        font-style: normal;
        text-align: center;
    }

    .practice-address span {
        display: block;
    }

}


